# OS
.DS_Store

# Node/Vite
node_modules/
dist/
build/
.vite/
.vite-cache/
.cache/
coverage/
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun-debug.log*
*.log

# Env files
.env
.env.local
.env.*.local

# Editors/IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
docker-compose.override.yml




backend/db.sqlite3
backend/staticfiles/

